<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    img {
      height: 100px;

    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>
    function addScript(url) {
      var script = document.createElement('script');
      script.type = 'application/javascript';
      script.src = url;
      document.head.appendChild(script);
    }
    addScript('https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js');

    function toPDF() {
      var element = document.body
      var opt = {
        margin: 0,
        filename: 'myfile.pdf',
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: {
        },
        jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait' }
      };

      // New Promise-based usage:
      html2pdf().set(opt).from(element).save();
    }




  </script>

</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <div><button onclick="javascript:toPDF()">Export PDF</button></div>
  <br>
  <div class='pasteable' contenteditable style="height: 100px;background-color: lightgray;">paste image here</div>

  <div id="div_for_pasted_img"></div>

</body>
<script>
  document.onpaste = (evt) => {
    const dT = evt.clipboardData || window.clipboardData;
    const file = dT.files[0];
    console.log(file);
  };
  var counter = 0
  var pasteable_div = document.getElementsByClassName('pasteable')[0]
  pasteable_div.addEventListener('DOMNodeInserted', function () {
    console.log('inserted')
    counter++
    if(counter%2==1){
      
    var pastedImageSrc = document.querySelector('.pasteable img').src
      toDataURL(pastedImageSrc, function (dataUrl) {
        console.log('RESULT:', dataUrl)
        pasteable_div.innerHTML = 'paste image here'

        document.getElementById('div_for_pasted_img').innerHTML += `  <img src="${dataUrl}" alt="" />`


      })
    }

  })


  function toDataURL(url, callback) {
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      var reader = new FileReader();
      reader.onloadend = function () {
        callback(reader.result);
      }
      reader.readAsDataURL(xhr.response);
    };
    xhr.open('GET', url);
    xhr.responseType = 'blob';
    xhr.send();
  }




</script>

</html>